<a href="https://colab.research.google.com/github/klaudioc/Python/blob/main/CursoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#  Curso de Python - Cefet/RJ Campus Angra dos Reis 

Professor Cláudio Corrêa <br>
Professor Paulo Victor

## Ementa: 

*Aula 1:*
* hello world!
* Instalação do Anaconda e Colab
* Apresentação da linguagem Python e do Python Notebook
* tipos de variáveis
* operações básicas

*Aula 2*
* listas
* tuples
* dicionários
* loops
	* for
	* while
	* if
* palavras reservadas

*Aula 3:*
* funções
* instalação de pacotes
* NumPy
	* criação de vetores e matrizes
	* operações com vetores e matrizes
	* Aplicações

*Aula 4:*
* Pandas
	* leitura de dados
	* importação de dados
	* manipulação de dados

*Aula 5:*
* Matplotlib
	* plotagem dos resultados das aulas anteriores
	* plot 2D
	* Plot 3D
	* Plotagem paramétrica
*Sympy

# Aula 1

## Hello World!

In [ ]:
print('Hello World!')

## Instalação do Anaconda e Colab



[site do anaconda](anaconda.com)

[Google Colab](colab.research.google.com/)

## Apresentação da linguagem Python e dos Python Notebooks

[Ranking das linguagens de programação mais populares](https://www.tiobe.com/tiobe-index/)

Por que Python?
* Python é uma linguagem de escrita fácil;
* É utilizada para diversos propósitos, como por exemplo: construção de aplicativos web, criação de jogos e ciência de dados;
* Possui uma comumidade ampla e acolhedora. 

Python (Piton)??
![](http://mtdiario.com.br/wp-content/uploads/2021/04/13-14.jpeg)

Python é uma **linguagem de alto nível** criada em 1992 por Guido van Rossum. O nome python é uma homenagem ao Monty Python, grupo de humor britânico.

<iframe width="560" height="315" src="https://www.youtube.com/embed/s0BMfPZCQbI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Os *Python Notebooks* são um ambiente interativo de computação, neles é possível combinar execução de código, *rich text*, plots e mídia.

In [ ]:
x = 5**32 # esta é uma célula de código
x

Esta é uma célula de texto

Na célula de texto é possível inserir título, listas, figuras, equações e etc.

Os textos são escritos utilizando a linguagem Markdown.

`# Isto é um título`

`# Isto um subtítulo`

`### Isto é um subsubtítulo`

Uma lista:



```
* item 1 
* item 2
  * sub item 1
  * sub item 2
* item 3
```
Resultado: 

* item 1 
* item 2
  * sub item 1
  * sub item 2
* item 3


Lista numerada:

```
1. item 1
2. item 2
3. item 3
5. item 4
99. item 5
```
Resultado: 

1. item 1
2. item 2
3. item 3
5. item 4
99. item 5

Ênfase: 

`**negrito**` -> **negrito**

`*itálico*` ->  *itálico*

`~riscado~` -> ~itálico~


Parágrafo:

```
blablablablabla

blablablablabla

```
Ou`

```
blablablablabla <p>
blablablablabla
```

Resultado:

blablablablabla

blablablablabla



Quebra de linha: 

```
Isto
não
é 
uma
quebra 
de 
linha
```
Resultado:

Isto
não
é 
uma
quebra 
de 
linha

Isto é um quebra de linha:
Use um espaço duplo no final da primeira linha

Ou: <br>
Escreva ``<br>`` entre após a primeira linha

Para inserir figuras use o comando `(nome para a figura)[link ou endereço da imagem(caso ela esteja salva no seu pc)

![Cefet/RJ](https://www.cursoseprofissoes.com/wp-content/uploads/2016/01/cefet-rj-cursos.jpg) 

Para centralizar uma imagem uma das formas de realizar é através da tag `<center> <img src="link da imagem" width=comprimento height=altura> <center>`
<br> <br>
<center> <img 
     src="https://www.cursoseprofissoes.com/wp-content/uploads/2016/01/cefet-rj-cursos.jpg"
     width="300"
     height="200"
     alt="Figura de exemplo"
     > <br> <center>

Para inserir um link use o comando `[nome para o link](link)` <br>
Para centralizar um texto ou um link utilize a tag `<center>`

<center> [site do Cefet/RJ](http://www.cefet-rj.br/index.php) <center>

Tabelas:

````
| Carros velozes | Cor | Ano |
| ----  | --- | --- |
| Camaro | Amarelo | 2016 |
| Lancer | Vermelho | 2020 |
| Fiat uno com escada em cima | branco | 1995 |
````

| Carros velozes | Cor | Ano |
| --- | --- | ---|
| Camaro | Amarelo | 2016 |
| Lancer | Vermelho | 2020 |
| Fiat uno com escada em cima | branco | 1995 |


É possível escrever equações utilizando os comandos de $\LaTeX$:  
Equação na mesma linha $y = \int x dx$`


Equação em outra linha: 

$$y = \int x dx$$

ou

<center>
$ Y = ∮ x d Ω$


Linha horizontal `---`

---

#Operadores
A linguagem Python fornece um conjunto de operadores artiméticos, que inclui os operadores binários para as quatro operações matemáticas básicas entre outros, tais como: <br>
<br>
**Operadores Unários** – Aceitam só um operando. Em Python, eles são -, +, ~, not (negação unária, positivo unário, negação bitwise e negação lógica). Observe que a linguagem Python não tem os operadores unários de adição ++ e subtração -- encontrados em outras linguagens, como C e Java.

**Operadores Binários** – Utilizam dois operandos para formar uma expressão.

**Operadores Ternários** – Também conhecidos como expressões condicionais ou “if ternário python“, precisam de dois operandos e uma expressão. Têm a forma:  `<operando1> if <expressão> else <operando2>`.

Operadores binários para operações aritméticas básicas:
* "+" adição <br>
* "-" subtração <br>
* "*" multiplicação <br>
* "/" divisão <br>
* "**" potenciação.

Podemos ter ainda os operadores:
* "//" divisão inteira --> Divide o 1º operando (dividendo) pelo 2º operando (divisor) e retorna o valor inteiro sempre arredondado para baixo.
* "%" módulo --> Retorna o resto da divisão inteira do 1º operando (dividendo) pelo 2º operando (divisor). Em Python este operador sempre retorna o resultado com mesmo sinal do divisor. 

**Obs: Os operadores são símbolos que servem para manipular valores, atribuir resultados de operações, fazer comparações e tomar decisões lógicas.**

In [ ]:
#Operadores Unários
x = True
y = not x
y

In [ ]:
#Operadores Unários
a =9
b = -a
b

In [ ]:
# Operadores binários
a = 0.1
b = 2
a / b

In [ ]:
# Operadores binários
x = True
y = False
x or y

In [ ]:
x = 11
y = 17
x + y

In [ ]:
x - y

In [ ]:
x // y    # divisão inteira

In [ ]:
x % y     # módulo

In [ ]:
y % x    # módulo

In [ ]:
z = -y
x // z    # divisão inteira

In [ ]:
x % z

# Mais um pouco de conversa sobre operadores !!!
Alguns operadores aritméticos são semelhantes aqueles utilizados na matemática básica, por isso são mais simples, como vimos acima nos exemplos!

Os operadores relacionais são conhecidos como operadores de comparação.
Sua característica é ser binário e sempre retornar como valores, TRUE ou FALSE.<br>
São utilizados em estruturas de controle de "fluxo" do programa, como "*if*" e "*while*".

## Tipos de variáveis

Podemos classificar as variáveis em quatro tipos:

* inteiros (integer)
* pontos flutantes (float)
* dados lógicos (boolean)
* cadeia de caracteres (strings)

Podemos usar o comando type para identificar as variáveis.

In [ ]:
type(5)

In [ ]:
type(2.35)

In [ ]:
type('abc123')

In [ ]:
type(True)

Podemos converter alguns tipos de variáveis

In [ ]:
float(5)

In [ ]:
type(float(5))

In [ ]:
int(3.8567)

In [ ]:
int(True)

In [ ]:
str(83.8)

In [ ]:
bool(0)

Podemos criar variáveis para armazenar dados e realizar operações:

In [ ]:
x = 10
y = 3*5 -2 
z = x**y/y
z

In [ ]:
print(y)

Para apagar uma variável use o comando `del`

In [ ]:
del y

In [ ]:
print(y)

Podemos atualizar o valor de uma variável fazendo com que ela receba ela mesma:

In [ ]:
x = 3
x = x + 5
x

Podemos fazer isso de forma mais prática:

In [ ]:
x = 3
x += 5
x

### Arredondamento de casas decimais
Resolva a equação $((50 + 25)*7.2)/3.8$

In [ ]:
50 + 25
75*7.2
resultadofinal = 540.0/3.8
print(resultadofinal)

O valor *142.10526315789474* é o resultado bruto da equação. <br>
  O resultado arredondado da equação é dado pela tag ":.nf", que define quantas casas decimais serão exibidas após a vírgula, onde n é o número de casas decimais desejadas. <br>

Outro modo de realizar o arredondamento de casas decimais é através da função "round()", tal que: '{round(equação,2)}'

In [ ]:
 print(f'Resultado arredondado é:{resultadofinal:.2f}')

In [ ]:
print(f'O resultado arredondado pela função round() é:{round(resultadofinal,6)}')

### Tarefa da primeira aula: 
1- Crie três variáveis com três tipos de dados diferentes, respeitando sua sintaxe.
<br>
2- Crie um comentário de no máximo uma linha. <br>
3- Crie um comentário de mais de uma linha <br>
4- Crie uma váriável nome e atribua para a mesma um nome digitado pelo usuário.<br> 
5- Resolva a expressão aritmética $3 + (-2) * [\sqrt(2) - \frac{56}{2} + (5^2 - 5)]$. Transforme a saída para tipo inteiro e ponto flutuante. <br>
6- Imprima o resultado a experssão do item 5, com arredondamento de 3 casas decimais.

# Aula 2

In [ ]:
for i in range(0,10):
  print('Olá!')

O que o comando range faz?  
Resposta: Ele cria uma **lista** de números em sequência.

In [ ]:
x = range(0,10,2)
for i in x:
  print(i)

Lista?

In [ ]:
lista_de_mercado = ['arroz','feijão','carne']
lista_de_mercado

In [ ]:
lista_de_mercado[0] # Para acessar o primeiro elemento da lista

In [ ]:
lista_de_mercado[-1] # Para acessar o último elemento da lista

Ih, esqueci de adicionar o macarrão! E agora?

In [ ]:
lista_de_mercado.append('macarrão')
lista_de_mercado

Podemos criar uma lista de números:

In [ ]:
lista1 = [14,23,24,35]

In [ ]:
sum(lista1) #somatório dos elementos da lista

In [ ]:
min(lista1) # valor mínimo da lista

In [ ]:
max(lista1) # valor máximo da lista

In [ ]:
len(lista1) # tamanho da lista

Para retirar um elemento de uma lista:

In [ ]:
lista1.pop(1)
lista1

Para organizar a lista em ordem numérica ou alfabética:

In [ ]:
lista_de_mercado

In [ ]:
lista_de_mercado.sort()
lista_de_mercado

Para a ordem invertida:

In [ ]:
lista1.sort(reverse = True)
lista1

## Loop for

* O loop é um estrutura de repetição.
* Ninguém gosta de fazer a mesma coisa um monte de vezes, os loops existem para nos ajudar nisso.

Os comando dentro do loop for irão rodar um número de vezes especificado. Para o loop rodar, é necessário a criação de uma **variável de iteração**. Essa variável fará o controle do número de vezes que o loop rodou.

In [ ]:
x = range(0,10)
for i in x:
  print(i)

In [ ]:
for i in lista1:
  print(i)

O comando range cria uma lista sequencial automaticamente, este comando é muito uitilizando no loop for.

In [ ]:
for i in range(0,5):
  print(i)

In [ ]:
sum(range(0,5))

## Loop while

O loop while roda enquanto uma condição for verdadeira:

In [ ]:
x = 0
while x < 5:
  x+=1
  print(x)

In [ ]:
x < 5

## Operadores Condicionais

Podemos executar determinados comandos apenas se certas condições forem antendidas:

In [ ]:
if x >= 5:
  print('x é maior ou igual a 5!')

In [ ]:
x = 4
if x >= 5:
  print('x é maior ou igual a 5!')

Caso x seja < 5, quero imprimir essa informação:

In [ ]:
if x >= 5:
  print('x é maior ou igual a 5!')
else:
  print('x é menor que 5!')

Podemos evoluir o código da seguinte maneira:

In [ ]:
x = 5
if x > 5:
  print('x é maior que 5')
elif x == 5: # else if
  print('x é igual a 5')
else:
  print('x é menor que 5')

## Tuples

Tuples ou tuplas são listas que não podemos atualizar os valores dos elementos individualmente.

Vamos criar uma lista qualquer:

In [ ]:
lista2 = [4,7,9,2,3,5]

Podemos substituir o 7 por 13:

In [ ]:
lista2[1] = 13
lista2

Agora vamos criar um tuple:

In [ ]:
tuple1 = (4,7,9,2,3,5)
tuple1

In [ ]:
tuple1[1] = 13

## Dicionários

In [ ]:
dic1 = {'banana':'fruta','fusca':'carro','cachorro':'animal'}

In [ ]:
dic1['banana']

In [ ]:
perfil1 = {'Nome':'Fulano','Idade':50,'Altura':1.75,'Peso':90}

In [ ]:
perfil1['Idade']

Entradas de usuários:

In [ ]:
x = input('Digite um número')
print('5 dividido por x é igual a: ' + str(5/float(x)))

E se um usuário inserir zero?

In [ ]:
x = input('Digite um número')
print('5 dividido por x é igual a: ' + str(5/float(x)))

In [ ]:
try:
  x = input('Digite um número')
  print('5 dividido por x é igual a: ' + str(5/float(x)))
except ZeroDivisionError:
  print('Não vale colocar zero!')

## Exercícios

1. Crie um código que receba o nome, a idade e o peso de um usuário e calcule o seu IMC.

# Aula 3

## Funções

Funções são blocos de código nomeados, concebidos para realizar uma tarefa específica. Quando queremos executar uma tarefa em particular, definida em uma função, chamamos o nome da função definida por ela.

In [ ]:
def saudacao(nome):
  print('Olá ' + nome + '!')

In [ ]:
saudacao('Fulano')

In [ ]:
def f(x):
  y = x**2 + 5
  return y

In [ ]:
f(5)

Variáveis globais x variáveis locais:

In [ ]:
c1 = 5
def f2(x):
  y = x**2 + c1 # c1 é uma variável global
  return y

c1

In [ ]:
def f3(x):
  c2 = 5
  y = x**2 + c2
  return y

c2 # c2 está definido apenas no escopo da função (variável local)

Muitas vezes queremos criar uma função rapidamente, para isso podemos usar as **funções anônimas**:

In [ ]:
f4 = lambda x: x**2 + 5
f4(5)

# Aula 4

## Pandas

O Pandas é uma biblioteca para tratamento e manipulação de dados.

In [ ]:
import pandas as pd

In [ ]:
url_dados = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
dados = pd.read_csv(url_dados)
dados

In [ ]:
dados.head()

In [ ]:
dados.shape

In [ ]:
dados.columns.values.tolist()

In [ ]:
dados['continent']

In [ ]:
dados['continent'].unique()

In [ ]:
dados.describe()

In [ ]:
dados.loc[0:10,'location']

In [ ]:
dados_bra = dados.loc[dados['location']=='Brazil']
dados_bra

In [ ]:
dados_bra[dados_bra['date']=='2022-07-06']

In [ ]:
tempo = pd.to_datetime(dados_bra['date'])
tempo

In [ ]:
casos_bra = dados_bra['total_cases']
casos_bra

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(20,10))
plt.plot(tempo,casos_bra)
plt.xlabel('data')
plt.ylabel('número de casos')
plt.show()

In [ ]:
import numpy as np
dias = np.linspace(0,len(tempo),len(tempo))

In [ ]:
plt.figure(dpi=150)
plt.plot(dias,casos_bra)
plt.xlabel('dias')
plt.ylabel('número de casos')
plt.title('Evolução do Covid no Brasil')
plt.grid(True)
plt.show()

In [ ]:
plt.figure(dpi=150)
plt.plot(dias[-30:-1],casos_bra[-30:-1])
plt.xlabel('data')
plt.ylabel('número de casos')
plt.title('número de casos nos últimos 30 dias')
plt.grid(True)
plt.show()

In [ ]:
dados_AS = dados.loc[dados['continent'] == 'South America']
dados_AS.tail()

In [ ]:
from datetime import date, timedelta

In [ ]:
hoje = date.today()
hoje

In [ ]:
hoje.strftime("%Y-%m-%d ")

In [ ]:
hoje = date.today()
ontem = hoje - timedelta(days=1)
ontem.strftime("%Y-%m-%d")

In [ ]:
dados_AS.loc[dados_AS['date'] == ontem.strftime("%Y-%m-%d")].head()

In [ ]:
lugar = dados_AS.loc[dados_AS['date'] == ontem.strftime("%Y-%m-%d")]['location']
leitos_por_M = dados_AS.loc[dados_AS['date'] == ontem.strftime("%Y-%m-%d")]['hospital_beds_per_thousand']

In [ ]:
plt.figure(figsize=(16,8))
plt.bar(lugar,leitos_por_M)
plt.ylabel('Leitos por Milhão')
plt.xlabel('Lugar')
plt.show()

# Aula 5

## Sympy

In [ ]:
from sympy import *

In [ ]:
x = symbols('x')
a = Integral(cos(x)*exp(x),x)
Eq(a,a.doit())

In [ ]:
z = symbols('z')
b = Integral(sin(z)*z**3,z)
Eq(b,b.doit())

Vamos agora resolver o seguinte problema:

No instante $t=0$ uma partícula de massa $m$ é liberada a partir do repouso de uma altura $h$ e cai verticalmente. Admitindo que a força de resistência do ar seja proporcional à velocidade instantânea, de acordo com a relação $f_r = -cv$, pede-se: **a)** desenvolver as funções descrevendo a posição, a velocidade e a aceleração da partícula em função do tempo transcorrido após sua liberação; **b)** obter a velocidade terminal, adotando $m=1.0kg$, $h=100.0 m$, $c=0.8Ns/m$.<br>
Solução:
$$-cv - mg = m \dfrac{dv}{dt}$$

In [ ]:
m,g,h = symbols('m g h')
c = symbols('c',nonzero=True,positive=True)
t = symbols('t')
v = Function('v')(t)

Reorganizando a equação de movimento:
$$m \dfrac{dv}{dt} +cv + mg = 0$$

In [ ]:
EqMov = Eq(m*v.diff(t) + c*v + m*g,0)
EqMov

In [ ]:
v_sol = dsolve(EqMov.lhs,v)
v_sol

In [ ]:
v_sol.subs(t,0)

In [ ]:
C1 = solve(v_sol.subs(t,0).rhs,'C1')[0]
C1

In [ ]:
v_sol = v_sol.subs('C1',C1).simplify()
v_sol

In [ ]:
a = v_sol.rhs.diff(t)
a

In [ ]:
x = integrate(v_sol.rhs,t)
x

In [ ]:
x += h
x

In [ ]:
valores = {m:1,h:100,c:0.8,g:9.8}

In [ ]:
v_num = v_sol.subs(valores).rhs
v_num

Vamos vericar a velocidade máxima aplicando um limite fazendo o tempo tender a infinito

In [ ]:
limit(v_num,t,oo)

In [ ]:
x_num = x.subs(valores)
x_num

In [ ]:
a_num = a.subs(valores)
a_num